html,
body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "nav header" "nav main" "nav footer";
}

.navigation {
    background: lightblue;
    padding: 32px;

    grid-area: nav;
}

.header {
    background: lightgreen;
    padding: 32px;

    grid-area: header;
}

.main {
    background: lightcoral;
    padding: 32px;

    grid-area: main;
}

.footer {
    background: lightpink;
    padding: 32px;

    grid-area: footer;
}

@media(max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr min-content min-content;
        grid-template-areas: "header" "main" "footer" "nav";
    }
}